beautifulsoup4>=4.9.1
certifi>=2020.6.20
chardet>=3.0.4
colorama>=0.4.3
decorator>=4.4.2
idna>=2.10
jsondiff>=1.2.0
nmap>=0.0.1
protobuf>=3.13.0
requests>=2.24.0
selenium>=3.141.0
six>=1.15.0
soupsieve>=2.0.1
urllib3>=1.25.10
validators>=0.18.0
whois>=0.9.7
