awscli==1.16.269
boto3==1.9.236
botocore==1.13.5
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.1
dnspython==1.16.0
docutils==0.15.2
idna==2.8
ipwhois==1.1.0
jmespath==0.9.4
pyasn1==0.4.7
PySocks==1.7.1
python-dateutil==2.8.0
python-nmap==0.6.1
pythonwhois==2.4.3
PyYAML==5.1.2
requests==2.22.0
rsa==3.4.2
s3transfer==0.2.1
six==1.12.0
urllib3==1.25.6
