annotated-types==0.7.0
anyio==3.7.1
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==2.0.12
click==8.1.7
contourpy==1.2.1
cryptography==43.0.0
cssselect2==0.7.0
cycler==0.12.1
defusedxml==0.7.1
easygui==0.98.3
Faker==26.0.0
fastapi==0.109.1
Flask==2.2.5
fonttools==4.53.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
looseversion==1.3.0
MarkupSafe==2.1.5
matplotlib==3.9.1
numpy==2.0.1
opencv-python==4.10.0.84
packaging==24.1
pafy==0.5.5
pillow==10.4.0
py-avataaars==1.1.2
pycparser==2.22
pydantic==1.10.17
pydantic_core==2.20.1
pyobjc-core==10.3.1
pyobjc-framework-AudioVideoBridging==10.3.1
pyobjc-framework-AVFoundation==10.3.1
pyobjc-framework-AVRouting==10.3.1
pyobjc-framework-BackgroundAssets==10.3.1
pyobjc-framework-BrowserEngineKit==10.3.1
pyobjc-framework-Cinematic==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-CoreAudio==10.3.1
pyobjc-framework-CoreMedia==10.3.1
pyobjc-framework-DataDetection==10.3.1
pyobjc-framework-ExtensionKit==10.3.1
pyobjc-framework-HealthKit==10.3.1
pyobjc-framework-Intents==10.3.1
pyobjc-framework-IntentsUI==10.3.1
pyobjc-framework-IOBluetooth==10.3.1
pyobjc-framework-IOBluetoothUI==10.3.1
pyobjc-framework-libxpc==10.3.1
pyobjc-framework-LocalAuthentication==10.3.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.3.1
pyobjc-framework-MailKit==10.3.1
pyobjc-framework-Metal==10.3.1
pyobjc-framework-MetalFX==10.3.1
pyobjc-framework-MetricKit==10.3.1
pyobjc-framework-PHASE==10.3.1
pyobjc-framework-Quartz==10.3.1
pyobjc-framework-SafetyKit==10.3.1
pyobjc-framework-ScreenCaptureKit==10.3.1
pyobjc-framework-Security==10.3.1
pyobjc-framework-SensitiveContentAnalysis==10.3.1
pyobjc-framework-SharedWithYou==10.3.1
pyobjc-framework-SharedWithYouCore==10.3.1
pyobjc-framework-ShazamKit==10.3.1
pyobjc-framework-Symbols==10.3.1
pyobjc-framework-ThreadNetwork==10.3.1
pyparsing==3.1.2
pyshorteners==1.0.1
python-dateutil==2.9.0.post0
python-multipart==0.0.7
python-nmap==0.7.1
python3-nmap==1.6.0
python_avatars==1.4.1
PythonTurtle==0.3.2
regex==2024.5.15
requests==2.32.3
simplejson==3.19.2
six==1.16.0
sniffio==1.3.1
speech==0.5.2
starlette==0.40.0
tinycss2==1.3.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
Werkzeug==3.0.3
youtube-dl==2021.12.17
